img {
    width:300px
}
body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkorange;
    color: rgb(90, 73, 151);
}